<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
   
  <display-name>MedicalApplication</display-name>
  <servlet>
      <servlet-name>signup</servlet-name>
      <servlet-class>SignupServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
     <servlet-name>signup</servlet-name>
     <url-pattern>/SignupServlet2</url-pattern>
  </servlet-mapping>
  <servlet>
     <servlet-name>signing</servlet-name>
     <servlet-class>UserLogin</servlet-class>
  </servlet>
  <servlet-mapping>
      <servlet-name>signing</servlet-name>
      <url-pattern>/UserLogin</url-pattern>
  </servlet-mapping>

</web-app>



 
